body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  height: 72px;
  background: #131d44;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25%;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.container-1 {
  height: 360px;
  background-color: #131d44;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.content {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.heading {
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-wrap: wrap;
}

.subtext {
  color: white;
  font-size: 16px;
}

button {
  color: white;
  background-color: rgb(25, 89, 228);
  border: 0;
  border-radius: 4px;
  padding: 6px 18px 6px 18px;
}

.sign-up-1 {
  align-self: flex-start;
  text-align: center;
}

.image-1 {
  width: 420px;
  height: 206px;
}

.container-2 {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 18px;
}

.image-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.image {
  width: 140px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

.container-3 {
  height: 320px;
  background-color: lightgray;
  display: flex;
}
